<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="result_style.css">
	<title>Centros</title>
	<meta charset="utf-8">
	<style type="text/css">
		.box {
			    position:fixed;
			    right:10%;
			    top:10%;
			    bottom:auto;
			    background: rgba(76, 175, 80, 0.3)
			}
	</style>
</head>
<body>
	<header><a href="/">Home</a></header>
	<table class="box">
		<form action="{% url 'polls:insertar_centro'%}" method="POST">	
		{% csrf_token %}	
		<tr><td><h3>Insertar Centro</h3></td></tr>
		<tr><td><label>Nombre Colegio</label></td>
		<td><input type="textbox" name="nombre_colegio"/></td></tr><br>
		<tr><td><label>Ciudad</label></td>
		<td><input type="textbox" name="ciudad"/></td></tr><br>
		<tr><td><input type="submit" name="insert" value="Insertar"></td></tr>
		</form>
		<form action="{% url 'polls:eliminar_centro'%}" method="POST">	
		{% csrf_token %}
		<tr><td><label>Eliminar Centro</label></td></tr>
		<tr><td><label>Nombre</label></td>	
		<td><input type="textbox" name="nombre_colegio"/></td></tr>
		<tr><td><input type="submit" name="delete" value="Eliminar"></td></td></tr>
		</form>
	</table>
	{% if lista_colegios %}
	<table>
	 	<tr><th><td><h3>NOMBRE</h3></td></th>
	 	<th><td><h3>CIUDAD</h3></td></th</tr>
	    {% for question in lista_colegios %}
	       <tr>
	       		<th><td><label href="/polls/{{ question.id }}/">{{ question.nombre }}</label></td></th>
	       		<th><td><label href="/polls/{{ question.id }}/">{{ question.ciudad }}</label></td></th>
	       </tr>
	    {% endfor %}
	</table>
	{% else %}
	<p>No hay centros para mostrar.</p>
	{% endif %}
</body>
</html>