<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="result_style.css">
	<title>Materiales</title>
	<meta charset="utf-8">
	<style type="text/css">
		.box {
			    position:fixed;
			    right:10%;
			    top:10%;
			    bottom:auto;
			    background: rgba(76, 175, 80, 0.3)
			}
	</style>
</head>
<body>
	<header><a href="/">Home</a></header>
	<table class="box">
		<form action="{% url 'polls:insertar_material'%}" method="POST">	
		{% csrf_token %}	
		<tr><td><h3>Insertar Material</h3></td></tr>
		<tr><td><label>Nombre Material</label></td>
		<td><input type="textbox" name="nombre"/></td></tr><br>
		<tr><td><label>Numero Identificador</label></td>
		<td><input type="number" name="numero_identificador"/></td></tr><br>
		<tr><td><input type="submit" name="insert" value="Insertar"></td></tr>
		</form>
		<form action="{% url 'polls:eliminar_material'%}" method="POST">	
		{% csrf_token %}
		<tr><td><h3>Eliminar Material</h3></td></tr>
		<tr><td><label>Nombre</label></td>	
		<td><input type="textbox" name="nombre"/></td></tr>
		<tr><td><label>Numero Identificador</label></td>	
		<td><input type="number" name="numero_identificador"/></td></tr>
		<tr><td><input type="submit" name="delete" value="Eliminar"></td></td></tr>
		</form>
	</table>
	{% if lista_materiales %}
	<table>
	 	<tr><th><td><h3>NOMBRE</h3></td></th>
	 	<th><td><h3>NUMERO</h3></td></th</tr>
	    {% for question in lista_materiales %}
	       <tr>
	       		<th><td><label href="/polls/{{ question.id }}/">{{ question.nombre }}</label></td></th>
	       		<th><td><label href="/polls/{{ question.id }}/">{{ question.numero_identificador }}</label></td></th>
	       </tr>
	    {% endfor %}
	</table>
	{% else %}
	<p>No materials are available.</p>
	{% endif %}
</body>
</html>