<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="result_style.css">
	<title>Profesores</title>
	<meta charset="utf-8">
	<style type="text/css">
		.box {
			    position:fixed;
			    right:10%;
			    top:10%;
			    bottom:auto;
			    background: rgba(76, 175, 80, 0.3)
			}
	</style>
</head>
<body>
	<header><a href="/">Volver</a></header>
	<table class="box">
		<form action="{% url 'polls:insertar_profesor'%}" method="POST">	
		{% csrf_token %}	
		<tr><td><h3>Insertar Profesor</h3></td></tr>
		<tr><td><label>Nombre Profesor</label></td>
		<td><input type="textbox" name="nombre_profesor"/></td></tr><br>
		<tr><td><label>Primer Apellido</label></td>
		<td><input type="textbox" name="apellido_1"/></td></tr><br>
		<tr><td><label>Segundo Apellido</label></td>
		<td><input type="textbox" name="apellido_2"/></td></tr><br>
		<tr><td><label>Teléfono</label></td>
		<td><input type="textbox" name="telefono"/></td></tr><br>
		<tr><td><label>Email</label></td>
		<td><input type="textbox" name="email"/></td></tr><br>
		<tr><td><input type="submit" name="insert" value="Insertar"></td></tr>
		</form>
		<form action="{% url 'polls:eliminar_profesor'%}" method="POST">	
		{% csrf_token %}	
		<tr><td><h3>Eliminar Profesor</h3></td></tr>
		<tr><td><label>Nombre Profesor</label></td>	
		<td><input type="textbox" name="nombre_profesor"/></td></tr>
		<tr><td><label>Primer Apellido</label></td>
		<td><input type="textbox" name="apellido_1"/></td></tr><br>
		<tr><td><label>Segundo Apellido</label></td>
		<td><input type="textbox" name="apellido_2"/></td></tr><br>
		<tr><td><input type="submit" name="delete" value="Eliminar"></td></td></tr>
		</form>
	</table>
	{% if lista_profesores %}
		<table>
			<tr>
				<th><td><h3>NOMBRE</h3></td></th>
				<th><td><h3>APELLIDO 1</h3></td></th>
				<th><td><h3>APELLIDO 2</h3></td></th>
				<th><td><h3>EMAIL</h3></td></th>
				<th><td><h3>TELÉFONO</h3></td></th>
			</tr>
		    {% for profesor in lista_profesores %}
				<tr>
				<th><td><label href="/polls/{{ profesor.id }}/">{{ profesor.nombre }}</label></td></th>
				<th><td><label href="/polls/{{ profesor.id }}/">{{ profesor.apellido_1 }}</label></td></th>
				<th><td><label href="/polls/{{ profesor.id }}/">{{ profesor.apellido_2 }}</label></td></th>
				<th><td><label href="/polls/{{ profesor.id }}/">{{ profesor.email }}</label></td></th>
				<th><td><label href="/polls/{{ profesor.id }}/">{{ profesor.telefono }}</label></td></th>
		       </tr>
		    {% endfor %}
	    </table>
	{% else %}
	    <p>No hay profesores.</p>
	{% endif %}
</body>
</html>
