<!DOCTYPE html>
{% load staticfiles%}
<html>
<head>
	<title>Buscar Centro</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Centros</title>
	<meta charset="utf-8">
	<style type="text/css">
		.box {
			    position:fixed;
			    right:10%;
			    top:10%;
			    bottom:auto;
			    background: rgba(76, 175, 80, 0.3);
			}
	</style>
</head>
<body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<a href="/">Home</a>
    </nav>
    <div>
		<table class="box" style="box-shadow: 5px 5px 2.5px grey; border-radius: 25px;">
			<form action="{% url 'polls:insertar_centro'%}" method="POST">	
			{% csrf_token %}	
			<tr><td><h3>Insertar Centro</h3></td></tr>
			<tr><td><label>Nombre Colegio</label></td>
			<td><input type="textbox" name="nombre_colegio"/></td></tr><br>
			<tr><td><label>Ciudad</label></td>
			<td><input type="textbox" name="ciudad"/></td></tr><br>
			<tr><td><input type="submit" class="btn btn-sm btn-success" name="insert" value="Insertar" style="box-shadow: 5px 5px 2.5px grey; border-radius: 25px;"></td></tr>
			</form>
			<form action="{% url 'polls:eliminar_centro'%}" method="POST">	
			{% csrf_token %}
			<tr><td><label>Eliminar Centro</label></td></tr>
			<tr><td><label>Nombre</label></td>	
			<td><input type="textbox" name="nombre_colegio"/></td></tr>		
			<tr><td><input type="submit" class="btn btn-sm btn-success" name="delete" value="Eliminar" style="box-shadow: 5px 5px 2.5px grey; border-radius: 25px;"></td></td></tr>
			</form>
		</table>
	</div>
	{% if lista_colegios %}
	<table>
	 	<tr><th><td><h3>NOMBRE</h3></td></th>
	 	<th><td><h3>CIUDAD</h3></td></th</tr>
	    {% for question in lista_colegios %}
	       <tr>
	       		<th><td><label href="/polls/{{ question.id }}/">{{ question.nombre }}</label></td></th>
	       		<th><td><label href="/polls/{{ question.id }}/">{{ question.ciudad }}</label></td></th>
	       </tr>
	    {% endfor %}
	</table>
	{% else %}
	<p>No hay centros para mostrar.</p>
	{% endif %}
</body>
</html>