<!DOCTYPE html>
<html>
<head>

	<title>Historial Prestamos</title>
	<meta charset="utf-8">
</head>
<body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<a href="/"><button class="btn btn-lg btn-primary" style="border-radius: 15px;">Home</button></a>
	</nav>
	<table class="list">
			<tr>
				<th><td><h4>NOMBRE</h4></td></th>
				<th><td><h4>APELLIDO_1</h4></td></th>
				<th><td><h4>MATERIAL</h4></td></th>
				<th><td><h4>ID</h4></td></th>
				<th><td><h4>FECHA INICIO</h4></td></th>
				<th><td><h4>FECHA FIN</h4></td></th>
				<th><td><h4>OTROS</h4></td></th>
			</tr>
			{% for celda in lista_historial %}
				<tr>
				<th><td><label href="polls/{{ celda.id_prestamo}}/">{{celda.id_profesor.nombre}}</label></td></th>
				<th><td><label href="polls/{{ celda.id }}/">{{celda.id_profesor.apellido_1}}</label></td></th>
				<th><td><label href="polls/{{ celda.id }}/">{{celda.id_material.nombre}}</label></td></th>
				<th><td><label href="polls/{{ celda.id }}/">{{celda.id_material.numero_identificador}}</label></td></th>
				<th><td><label href="polls/{{ celda.id }}/">{{celda.fecha_inicio}}</label>
				<th><td><label href="polls/{{ celda.id }}/">{{celda.fecha_fin}}</label></th></td>
				<th><td><label href="polls/{{ celda.id }}/">{{celda.otros}}</label>
				</td></th>
				</tr>
			{% endfor %}
	</table>
</body>
</html>