<html>
	<head>
		<link rel="stylesheet" type="text/css" href="style.css">
		<meta charset="utf-8">
	</head>
	<body>
		<header><a href="/">Home</a></header>
		{% if tipo == '404'%}
			<h1>Http Error: 404</h1>
			<img src="https://c1.staticflickr.com/3/2692/4323598471_89e24792cc_b.jpg">
		{% elif tipo == 'NotFound' %}
			<h1>No se ha encontrado relacion con lo introducido.</h1>
			<h2>Pruebe otra vez</h2>
		{% endif %}
	</body>
</html>