<!DOCTYPE html>
{% load staticfiles%}
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="utf-8">
	<title>Sistema de Gestion De Prestamos</title>
</head>
<body style="background-color: #7A9F35">
	<div style="position: fixed; 
		margin-left: 40%;
		margin-right: 60%;
		margin-top: 15%;
		margin-bottom:0%;">
		<table style="display: block;">
			<tr><a href="http://faisl.com"><button class="btn btn-sm btn-success">FAISL Home</button></a></tr>
			<tr><a href="profesores"><button class="btn btn-sm btn-primary">Profesores</button></a></tr>
			<tr><a href="materiales"><button class="btn btn-sm btn-primary">Materiales</button></a></tr>
			<tr><a href="prestamos"><button class="btn btn-sm btn-primary">Prestamos</button></a></tr>
			<tr><a href="historial"><button class="btn btn-sm btn-primary">Historial</button></a></tr>
			<tr><a href="centros"><button class="btn btn-sm btn-primary">Colegios</button></a></tr>
	    </table>
    </div>
</body>
</html>
