<!DOCTYPE html>
{% load staticfiles%}
<html>
<head>
	<title>Materiales</title>
	<meta charset="utf-8">
	<style type="text/css">
		.box {
			    position:fixed;
			    right:10%;
			    top:10%;
			    bottom:auto;
			    background: rgba(76, 175, 80, 0.3)
			}
	</style>
</head>
<body>
	<header><a href="/">Home</a></header>
	<table class="box">
		<form action="{% url 'polls:insertar_material'%}" method="POST">	
		{% csrf_token %}	
		<tr><td><h3>Insertar Material</h3></td></tr>
		<tr><td><label>Nombre Material</label></td>
		<td><select>
			{% for question in lista_materiales %}
		       <option href="/polls/{{ question.id }}/">{{ question.nombre }}</option>
		    {% endfor %}
		</select></td></tr>
		<tr><td><label>Numero Identificador</label></td>
		<td><input type="number" name="numero_identificador"/></td></tr><br>
		<tr><td><input type="submit" name="insert" value="Insertar"></td></tr>
		</form>
		<form action="{% url 'polls:eliminar_material'%}" method="POST">	
		{% csrf_token %}
		<tr><td><h3>Eliminar Material</h3></td></tr>
		<tr><td><label>Nombre</label></td>	
		<td><input type="textbox" name="nombre"/></td></tr>
		<tr><td><label>Numero Identificador</label></td>	
		<td><input type="number" name="numero_identificador"/></td></tr>
		<tr><td><input type="submit" name="delete" value="Eliminar"></td></td></tr>
		</form>
</body>
</html>