<!DOCTYPE html>
{% load staticfiles%}
<html>
<head>
	<title>Buscar Centro</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<style type="text/css">
		.box {
			    position:fixed;
			    right:1%;
			    top:2%;
			    bottom:auto;
			    background: rgba(76, 175, 80, 0.3);
			}
	</style>
</head>
<body>
	<header>
		<a href="/">Home</a>
		<br><label>Numero de Prestamos: {{cuenta}}</label>
	</header>
	<h1>
		Insertar o eliminar Prestamo
	</h1>
	<div>
		<table class="box">
			<form action="{% url 'polls:insertar_prestamo' %}" method="POST">
			{% csrf_token %}
				<tr><td><h3>Insertar</h3></td>
				<tr><td><label>Nombre Profesor</label></td>
				<td><input type="textbox" name="nombre"/></td></tr>
				<tr><td><label>Apellido 1</label></td>
				<td><input type="textbox" name="apellido_1"/></td></tr>
				<tr><td><label>Nombre Material</label></td>
				<td><select name="Material">
				{% for question in materiales_list %}
			       <option href="/polls/{{ question.id }}/">{{ question.nombre}}</option>
			    {% endfor %}
				</select></td></tr>
				<tr><td><label>Indentificador material</label></td>
				<td><input type="number" name="identificador"/></td></tr>
				<tr><td><label>Fecha inicio</label></td>
				<td><input type="textbox" name="fecha"/></td></tr>
				<tr><td><label>otros</label></td>
				<td><textarea name="otros"></textarea></td></tr>
				<td><input type="submit" name="insert" value="insertar" /></td>
			</form>
			<form action="{% url 'polls:eliminar_prestamo' %}" method="POST">
				{% csrf_token %}
				<tr><td><h3>Devolver</h3></td>
				<tr><td><label>Nombre Profesor</label></td>
				<td><input type="textbox" name="nombre"/></td></tr>
				<tr><td><label>Apellido 1</label></td>
				<td><input type="textbox" name="apellido_1"/></td></tr>
				<tr><td><label>Nombre Material</label></td>
				<td><select name="Material">
				{% for question in materiales_list %}
			       <option href="/polls/{{ question.id }}/">{{ question.nombre}}</option>
			    {% endfor %}
				</select></td></tr>				
				<tr><td><label>Indentificador material</label></td>
				<td><input type="number" name="identificador"/></td></tr>
				<tr><td><label>Fecha fin</label></td>
				<td><input type="textbox" name="fecha_fin"/></td></tr>
				<tr><td><input type="submit" name="Devolver" value="devolucion" /></td></tr>
			</form>
		</table>
	</div>
	<table class="list" >
		<th>
			<td><h4>NOMBRE</h4></td>
			<td><h4>APELL_1</h4></td>
			<td><h4>EMAIL</h4></td>
			<td><h4>TELEF</h4></td>
			<td><h4>MATERIAL</h4></td>
			<td><h4>ID</h4></td>
			<td><h4>FECHA I</h4></td>
			<td><h4>OTROS</h4></td>
		</th>
		{% if prestamos_list %}
		    {% for prestamo in prestamos_list %}
			    <tr>
			       	<th><td><label href="/myapp/{{ prestamo.id }}/">{{ prestamo.id_profesor.nombre}}</label></td></th>
			       	<th><td><label href="/myapp/{{ prestamo.id }}/">{{ prestamo.id_profesor.apellido_1}}</label></td></th>
			       	<th><td><label href="/myapp/{{ prestamo.id }}/">{{ prestamo.id_profesor.email}}</label></td></th>
			       	<th><td><label href="/myapp/{{ prestamo.id }}/">{{ prestamo.id_profesor.telefono}}</label></td></th>
			       	<th><td><label href="/myapp/{{ prestamo.id }}/">{{ prestamo.id_material.nombre}}</label></td></th>
			       	<th><td><label href="/myapp/{{ prestamo.id }}/">{{ prestamo.id_material.numero_identificador}}</label></td></th>
					<th><td><label href="/myapp/{{ prestamo.id }}/">{{ prestamo.fecha_inicio}}</label></td></th>
			       	<th><td><label href="/myapp/{{ prestamo.id }}/">{{ prestamo.otros}}</label></td></th>
		       	</tr>
		    {% endfor %}
    	{% else %}
    		<h2>No hay Prestamos realizados.</h2>
    	{% endif %}
    </table>
</body>
</html>