<!DOCTYPE html>
{% load staticfiles%}
<html>
<head>
	<title>Profesores</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width-device-width, initial-scale=1.0">
	<style type="text/css">
		.box {
			    position:fixed;
			    right:10%;
			    top:10%;
			    bottom:auto;
			    background: rgba(76, 175, 80, 0.3)
			}
	</style>
</head>
<body>
	<header><a href="/">Volver</a></header>
	<table class="box">
		<form action="{% url 'polls:insertar_profesor'%}" method="POST">	
		{% csrf_token %}	
		<tr><td><h3>Insertar Profesor</h3></td></tr>
		<tr><td><label>Nombre Profesor</label></td>
		<td><input type="textbox" name="nombre_profesor"/></td></tr>
		<tr><td><label>Primer Apellido</label></td>
		<td><input type="textbox" name="apellido_1"/></td></tr>
		<tr><td><label>Segundo Apellido</label></td>
		<td><input type="textbox" name="apellido_2"/></td></tr>
		<tr><td><label>Teléfono</label></td>
		<td><input type="textbox" name="telefono"/></td></tr>
		<tr><td><label>Email</label></td>
		<td><input type="textbox" name="email"/></td></tr>
		<tr><td><input type="submit" name="insert" value="Insertar"></td></tr>
		</form>
		<form action="{% url 'polls:eliminar_profesor'%}" method="POST">	
		{% csrf_token %}	
		<tr><td><h3>Eliminar Profesor</h3></td></tr>
		<tr><td><label>Nombre Profesor</label></td>	
		<td><input type="textbox" name="nombre_profesor"/></td></tr>
		<tr><td><label>Primer Apellido</label></td>
		<td><input type="textbox" name="apellido_1"/></td></tr>
		<tr><td><label>Segundo Apellido</label></td>
		<td><input type="textbox" name="apellido_2"/></td></tr>
		<tr><td><input type="submit" name="delete" value="Eliminar"></td></td></tr>
		</form>
	</table>
	{% if lista_profesores %}
		<table>
			<th>
				<td><label>NOMBRE</label></td>
				<td><label>APELLIDO 1</label></td>
				<td><label>APELLIDO 2</label></td>
				<td><label>EMAIL</label></td>
				<td><label>TELEFONO</label></td>
			</th>
	    {% for profesor in lista_profesores %}
			<tbody>
				<td><label>{{ profesor.nombre }}</label></td>
				<td><label>{{ profesor.apellido_1 }}</label></td>
				<td><label>{{ profesor.apellido_2 }}</label></td>
				<td><label>{{ profesor.email }}</label></td></th>
				<td><label>{{ profesor.telefono }}</label></td>
	       </tbody>
	    {% endfor %}
	    </table>
	{% else %}
	    <p>No hay profesores.</p>
	{% endif %}
</body>
</html>
