<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="result_style.css">
	<title>Buscar Centro</title>
	<meta charset="utf-8">
</head>
<body>
	<header><a href="/">Home</a></header>
	<h1>
		buscar Centro
	</h1>
	<form action="{% url 'polls:deleteLoam'%}" method="POST">	
	{% csrf_token %}
	<table>
		<tr><td><label>Nombre Profesor</label></td>
		<td><input type="textbox" name="nombre"/></td></tr><br>
		<tr><td><label>Apellido 1</label></td>
		<td><input type="textbox" name="apellido_1"/></td></tr><br>
		<tr><td><label>Nombre Material</label></td>
		<td><input type="textbox" name="Material"/></td></tr><br>
		<tr><td><label>Indentificador material</label></td>
		<td><input type="textbox" name="identificador"/></td></tr><br>
		<tr><td><input type="submit" name="delete"/></td></tr>
	</table>
	</fo