<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="result_style.css">
	<title>Borrar Centro</title>
	<meta charset="utf-8">
</head>
<body>
	<header><a href="/">Home</a></header>
	<h1>
		Borrar Centro
	</h1>
	<form action="{% url 'polls:delete'%}" method="POST">	
	{% csrf_token %}	
	<input type="textbox" name="nombre_colegio"/>
	<input type="submit" name="delete">
	</form>
</body>
</html>