<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="result_style.css">
	<title>Buscar Centro</title>
	<meta charset="utf-8">
</head>
<body>
	<header><a href="/">Home</a></header>
	<h1>
		buscar Centro
	</h1>
	<form action="{% url 'polls:search'%}" method="POST">	
	{% csrf_token %}	
	<input type="textbox" name="nombre_colegio"/>
	<input type="submit" name="search"/>
	</form>
	{% if latest_question_list %}
	<table>
	 	<tr><th><td><h3>NOMBRE</h3></td></th></tr>
	    {% for question in latest_question_list %}
	       <tr><th><td><label href="/polls/{{ question.id }}/">{{ question.nombre }}</label></td></th></tr>
	    {% endfor %}
	</table>
	{% else %}
	<p>No polls are available.</p>
	{% endif %}
</body>
</html>