<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="result_style.css">
	<title>Buscar Centro</title>
	<meta charset="utf-8">
	<style type="text/css">
		.box {
			    position:fixed;
			    right:10%;
			    top:10%;
			    bottom:auto;
			    background: rgba(76, 175, 80, 0.3)

			}
	</style>
</head>
<body>
	<header><a href="/">Home</a></header>
	<h1>
		Insertar Prestamo
	</h1>
	<form action="{% url 'polls:insertPrestamo'%}" method="POST">	
		{% csrf_token %}
		<table class="box">
			<tr><td><label>Nombre Profesor</label></td>
			<td><input type="textbox" name="nombre"/></td></tr><br>
			<tr><td><label>Apellido 1</label></td>
			<td><input type="textbox" name="apellido_1"/></td></tr><br>
			<tr><td><label>Nombre Material</label></td>
			<td><input type="textbox" name="Material"/></td></tr><br>
			<tr><td><label>Indentificador material</label></td>
			<td><input type="textbox" name="identificador"/></td></tr><br>
			<tr><td><label>Fecha inicio</label></td>
			<td><input type="textbox" name="fecha"/></td></tr><br>
			<tr><td><label>Fecha fin</label></td>
			<td><input type="textbox" name="fecha_fin"/></td></tr><br>
			<tr><td><input type="submit" name="insert"/></td></tr>
		</table>
	</form>
	<table>
		<tr>
			<th><td><h4>NOMBRE</h4></td></th>
			<th><td><h4>APELLIDO_1</h4></td></th>
			<th><td><h4>APELLIDO_2</h4></td></th>
			<th><td><h4>EMAIL</h4></td></th>
			<th><td><h4>TELEFONO</h4></td></th>
			<th><td><h4>MATERIAL</h4></td></th>
			<th><td><h4>ID</h4></td></th>
			<th><td><h4>FECHA INICIO</h4></td></th>
			<th><td><h4>FECHA FIN</h4></td></th>
		</tr>
		{% if prestamos_list %}
		    {% for prestamo in prestamos_list %}
		       	<tr>
			       	<th><td><label href="/polls/{{ prestamo.id }}/">{{ prestamo.id_profesor.nombre}}</label></td></th>
			       	<th><td><label href="/polls/{{ prestamo.id }}/">{{ prestamo.id_profesor.apellido_1}}</label></td></th>
			       	<th><td><label href="/polls/{{ prestamo.id }}/">{{ prestamo.id_profesor.apellido_2}}</label></td></th>
			       	<th><td><label href="/polls/{{ prestamo.id }}/">{{ prestamo.id_profesor.email}}</label></td></th>
			       	<th><td><label href="/polls/{{ prestamo.id }}/">{{ prestamo.id_profesor.telefono}}</label></td></th>
			       	<th><td><label href="/polls/{{ prestamo.id }}/">{{ prestamo.id_material.nombre}}</label></td></th>
			       	<th><td><label href="/polls/{{ prestamo.id }}/">{{ prestamo.id_material.numero_identificador}}</label></td></th>
			       	<th><td><label href="/polls/{{ prestamo.id }}/">{{ prestamo.fecha_inicio}}</label></td></th>
			    	<th><td><label href="/polls/{{ prestamo.id }}/">{{ prestamo.fecha_fin}}</label></td></th>
		    	</tr>
		    {% endfor %}
    	{% else %}
    		<h2>No hay Prestamos realizados.</h2>
    	{% endif %}
    </table>
</body>
</html>