<html>
<head>
	<link rel="stylesheet" type="text/css" href="result_style.css">
</head>
<header><a href="/">Home</a></header>
	<table>
		<tr>
			<th><td><h4>NOMBRE</h4></td></th>
			<th><td><h4>APELLIDO_1</h4></td></th>
			<th><td><h4>APELLIDO_2</h4></td></th>
			<th><td><h4>EMAIL</h4></td></th>
			<th><td><h4>TELEFONO</h4></td></th>
			<th><td><h4>MATERIAL</h4></td></th>
			<th><td><h4>ID</h4></td></th>
		</tr>
		{% if prestamos_list %}
		    {% for prestamo in prestamos_list %}
		       	<tr><th><td><label href="/polls/{{ prestamo.id }}/">{{ prestamo.id_profesor.nombre}}</label></td></th>
		       	<th><td><label href="/polls/{{ prestamo.id }}/">{{ prestamo.id_profesor.apellido_1}}</label></td></th>
		       	<th><td><label href="/polls/{{ prestamo.id }}/">{{ prestamo.id_profesor.apellido_2}}</label></td></th>
		       	<th><td><label href="/polls/{{ prestamo.id }}/">{{ prestamo.id_profesor.email}}</label></td></th>
		       	<th><td><label href="/polls/{{ prestamo.id }}/">{{ prestamo.id_profesor.telefono}}</label></td></th>
		       	<th><td><label href="/polls/{{ prestamo.id }}/">{{ prestamo.id_material.nombre}}</label></td></th>
		       	<th><td><label href="/polls/{{ prestamo.id }}/">{{ prestamo.id_material.numero_identificador}}</label></td></th></tr>
		    {% endfor %}
    	{% else %}
    		<h2>No hay Prestamos realizados.</h2>
    	{% endif %}
    </table>
</html>