<head>
	<link rel="stylesheet" type="text/css" href="result_style.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<header><a href="/">Home</a></header>
{% if latest_question_list %}
	<table>
	 	<tr><th><td><h3>NOMBRE</h3></td></th></tr>
	    {% for question in latest_question_list %}
	       <tr><th><td><label href="/polls/{{ question.id }}/">{{ question.nombre }}</label></td></th></tr>
	    {% endfor %}
    </table>
{% else %}
    <p>No polls are available.</p>
{% endif %}