<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="result_style.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<title>Result</title>
</head>
<body>
	<header><a href="/">Home</a></header>
	{% if result %}
		<table>
			<tr>
				<th><td><h3>NOMBRE</h3></td></th>
				<th><td><h3>APELLIDO 1</h3></td></th>
				<th><td><h3>APELLIDO 2</h3></td></th>
				<th><td><h3>EMAIL</h3></td></th>
				<th><td><h3>TELÉFONO</h3></td></th>
			</tr>
		    {% for question in result %}
				<tr>
				<th><td><label href="/polls/{{ question.id }}/">{{ question.nombre }}</label></td></th>
				<th><td><label href="/polls/{{ question.id }}/">{{ question.apellido_1 }}</label></td></th>
				<th><td><label href="/polls/{{ question.id }}/">{{ question.apellido_2 }}</label></td></th>
				<th><td><label href="/polls/{{ question.id }}/">{{ question.email }}</label></td></th>
				<th><td><label href="/polls/{{ question.id }}/">{{ question.telefono }}</label></td></th>
		       </tr>
		    {% endfor %}
	    </table>
	{% else %}
	    <p>No polls are available.</p>
	{% endif %}
</body>
</html>