<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Result</title>
</head>
<body>
	<header><a href="/">Home</a></header>
		<tr><td><label href="/polls/{{ result.id }}/">{{ result.nombre}}</label></td></tr><br>
		<tr><td><label href="/polls/{{ result.id }}/">{{ result.ciudad}}</label></td></tr>
</html>