<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Result</title>
</head>
<body>
	<header><a href="/">Home</a></header>
	{% if prestamos_search %}
		    {% for prestamo in prestamos_search %}
		       	<tr><th><td><label href="/polls/{{ prestamo.id }}/">{{ prestamo.id_profesor.nombre}}</label></td></th>
		       	<th><td><label href="/polls/{{ prestamo.id }}/">{{ prestamo.id_profesor.apellido_1}}</label></td></th>
		       	<th><td><label href="/polls/{{ prestamo.id }}/">{{ prestamo.id_profesor.apellido_2}}</label></td></th>
		       	<th><td><label href="/polls/{{ prestamo.id }}/">{{ prestamo.id_profesor.email}}</label></td></th>
		       	<th><td><label href="/polls/{{ prestamo.id }}/">{{ prestamo.id_profesor.telefono}}</label></td></th>
		       	<th><td><label href="/polls/{{ prestamo.id }}/">{{ prestamo.id_material.nombre}}</label></td></th>
		       	<th><td><label href="/polls/{{ prestamo.id }}/">{{ prestamo.id_material.numero_identificador}}</label></td></th></tr>
		    {% endfor %}
    	{% else %}
</body>
</html>