<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="result_style.css">
	<title>Buscar Prestamo</title>
	<meta charset="utf-8">
</head>
<body>
	<header><a href="/">Home</a></header>
	<h1>
		Buscar Prestamo
	</h1>
	<form action="{% url 'polls:searchPrestamos'%}" method="POST">	
	{% csrf_token %}	
	<input type="textbox" name="nombre_profesor"/>
	<input type="submit" name="searchear">
	</form>
	<object type="text/html" data="list_prestamos.html">
	<p>list content</p>
	</object>

</body>
</html>