html{
	width: 100%;
	height: 100%;
}
body{
	background-color: white;
	margin-left: 30px;
	margin-right: 100px;
}
.box {
    position:fixed;
    right:0.5%;
    top:0%;
    bottom:0%;
    width: 20%;
    height: 90%;
    background: rgba(76, 175, 80, 0.3)
}
.list{
	width: 75%;
	margin: auto auto auto	0%;
}
input, select, textarea{
	background-color: white;
}